.fototengah{
            border-radius: 100%;
            border: 5px solid #0077b6;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s ease;
            width: 200px;
            height: 200px;
}
img:hover{
     color: #ffd60a;
     transform: scale(1.1);
}